@charset "utf-8";
header{
    padding: 0 30px 30px;
    background: linear-gradient(to right, #042e6f 50%, #f2f2f2 50%,#f2f2f2) ;
}
header .logo {
    padding: 0 0 0 0;
}
header .visual img{
    width: 100%;
}
header h1 {
    position: absolute;
    left: 30px;
    top: 0;
}
header > ul {
    display: flex;
    position: absolute;
    right: 30px;
    top: 0;
    width: 170px;
    background: #f2f2f2;
}
header > ul li{
    line-height: 70px;
    flex: 1;
    padding: 0 0 0 18px;
}
header > ul li:first-child a:before{
    content: "";
    display: inline-block;
    width: 23px;
    height: 35px;
    background: url(/images/login_1.PNG) no-repeat;
    padding: 0 5px 0 0px;
    vertical-align: middle;
}
header > ul li:last-child a:before{
    content: "";
    display: inline-block;
    width: 23px;
    height: 30px;
    background: url(/images/join_1.PNG) no-repeat;
    background-size: auto;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

header #lnb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 232px;
    box-sizing: border-box;
}
header #lnb nav {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header #lnb nav >ul {
    text-align: center;
}
header #lnb nav >ul >li {
    display: inline-block;
    position: relative;
}
header #lnb nav >ul >li> a{
    display: block;
    font-size: 18px;
    color: #fff;
    width: 160px;
    height: 69px;
    line-height: 69px;
    position: relative;
}

header #lnb nav > ul > li > a:after{
    content: "";
    width: 0;
    position: absolute;
    left: 50%;
    bottom: -1px;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
}
header #lnb nav > ul > li > a:hover:after{
    width: 100%;
    left: 0;
}
header #lnb nav >ul ul {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 22px 0 0 ;
}
header #lnb nav > ul ul a{
    font-size: 14px;
    color: #fff;
    position: relative;
    transition: all 0.5s;
}
header #lnb nav >ul ul li{
    line-height: 39px;

}
header #lnb nav > ul ul a:hover {
    color: #2acef1;

}
header #lnb nav > ul ul a:after{
    content: "";
    width: 0;
    position: absolute;
    left: 50%;
    bottom: -7px;
    height: 2px;
    background: #2acef1;
    transition: all 0.5s;
}
header #lnb nav > ul ul a:hover:after{
    width: 100%;
    left: 0;
}